/* common style  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* header css starts from here  */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
}

.banner {
    height: 60%;
    width: 70%;
    display: flex;
    background-color: #161616;
    border-radius: 30px;
}

.banner-text {
    height: 100%;
    width: 50%;
    color: white;
    padding: 60px;
}

.banner-text>p {
    padding-top: 4px;
    padding-bottom: 8px;
}

.button {
    color: white;
    text-decoration: none;
    border: 1px solid red;
    padding: 5px;
    background-color: red;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.fa-angle-right {
    padding: 5px;
}



.banner-image {
    height: 100%;
    width: 50%;

}

.banner-image>img {
    padding-bottom: 20px;
}

/* main start here  */
#Toolbar {
    height: 300px;
}

.box {
    height: 70%;
    width: 15%;
    background-color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 200px;
}

.button-white {
    text-decoration: none;
    border: 1px solid white;
    padding: 5px;
    color: black;
    background-color: white;
    border-radius: 5px;
    margin-top: 15px;
}

.button-new {
    text-decoration: none;
    border: 1px solid red;
    padding: 5px;
    color: white;
    background-color: red;
    border-radius: 5px;
    margin-top: 15px;
}

#more-transfer {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    padding-left: 180px;
    margin-top: -300px;
}

.Transfer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}

.news-detail {
    padding: 10px;
}

.news-banner {
    display: inline;
    display: flex;
}

.news-banner>p {
    padding-left: 5px;
    padding-right: 5px;
}

.news-banner>img {
    height: 60px;
    width: 70px;
}

#Transfer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* footer style  */
footer {
    height: 300px;
    width: 100%;
    background-color: #161616;
}

footer>h2 {
    color: white;
    text-align: center;
    padding-top: 70px;
}

hr {
    width: 70%;
    margin: auto;
}

.footer-button {
    padding-inline: 280px;
    padding-top: 25px;
}

.footer-button>a {
    color: white;
    text-decoration: none;
    padding-right: 5px;
}

#gap {
    padding-right: 28px;
}

.social-icon {
    text-align: center;
    padding-top: 15px;
}

.fa-brands {
    color: white;
    padding: 10px;
}

/* footer end  */

/* media queries  */

/* mobile devices */
@media Only screen and (max-width:688px) {
    .body {
        width: 100%;
    }

    .banner {
        height: 60%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-image>img {
        width: 100%;
        height: auto;
    }

    #more-transfer {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        align-items: center;
        padding-left: 0px;
        margin-top: 0px;
    }

    .Transfer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 15px;
    }

    #Toolbar {
        width: 100%;
        height: 20%;
    }

    .box {
        height: 70%;
        width: 15%;
        border-radius: 8px;
        padding: 20px;
        background-color: #E8E8E8;
    }

    header {
        height: 838px;
    }

    .banner-text>h1 {
        font-size: 10px;
    }

    .banner-text>p {
        font-size: 10px;
    }

    .container {
        height: 1080px;
    }

    footer {
        height: 400px;
    }

    #contact {
        display: contents;
    }

    .gaps {
        display: contents;
    }

    .button-new {
        width: 100px;
    }
}

@media only screen and (min-width:689px) and (max-width:992px) {
    .banner-text>p {
        font-size: 12px;
    }

    .Transfer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
    }

    #Toolbar {
        height: 100%;
        width: 20%;
    }

    .box {
        height: 70%;
        width: 15%;
        border-radius: 8px;
        padding: 70px;
        background-color: #E8E8E8;
        display: flex;
        flex-direction: row;
    }

    #more-transfer {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        align-items: center;
        padding-left: 0px;
        margin-top: 0px;
    }

    .button-new {
        width: 95px;
        height: 50px;
        margin-right: 40px;
    }


    .button-white {
        padding-right: 50px;
    }
}